@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playwrite NZ Basic", cursive;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 100%;
  margin: auto;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn img{
  width: 20px;
  margin-left: 10px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; 
}